# Dependencies
node_modules/

# Sensitive credentials and output data
akun.txt
apikey.txt
*.log

# Environment variables
.env
.env.local

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
